.installed.cfg
*.py[cod]
*.hy[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

prohyect/__pycache__/
prohyect/*.py[cod]
prohyect/*.hy[cod]
prohyect/*$py.class
